@model IEnumerable<MVC_CRUD_UserManagementSystem.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>
<hr />

@Html.ActionLink("Add User", "Add")
@Html.ActionLink("Update User", "Edit")
@Html.ActionLink("Delete User", "Delete")

<br><br>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
